<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- JDBC connection settings -->
    <property name="connection.url">jdbc:mysql://localhost/pracinz</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

    <!-- DB schema will be updated if needed -->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!-- JDBC connection pool, use Hibernate internal connection pool -->
    <property name="connection.pool_size">5</property>

    <!-- Defines the SQL dialect used in Hiberante's application -->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

    <!-- Enable Hibernate's automatic session context management -->
      <!-- <property name="current_session_context_class">thread</property>-->

      <!-- Display and format all executed SQL to stdout -->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hibernate.connection.autocommit">true</property>
    <mapping resource="pl/model/entity/AuthenticationEntity.hbm.xml"/>
    <mapping class="pl.model.entity.AuthenticationEntity"/>
    <mapping class="pl.model.entity.LicenseEntity"/>
    <mapping resource="pl/model/entity/LicenseEntity.hbm.xml"/>

    <!-- Mapping classes -->

  </session-factory>
</hibernate-configuration>